.form-inline {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.results {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.results > img {
  padding: 2%;
}

@media only screen and (max-width: 600px) {
  #loading {
    display: none;
  }
}
